<!-- <div class="container animated fadeInDown" id="navbar"> -->
<div (scroll)="onWindowScroll($event)">
    <div class="header" id="navbar" style="z-index: 1" >
        <nav style="background-color:rgb(95, 95, 140); min-height:45px; max-height:100px; padding-left:10px; padding-right:10px; padding-top:6px; overflow:auto">
          <span style="color:white; font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:28px; cursor:default; padding-right:7px">CL Request Non-Static Values CLS</span>
          <img (click)="warning();" src="../assets/help.png" style="width:22px; height:auto; position:sticky; cursor:pointer;" title="Click for Help">
          <span style="float:right; font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:14px; padding:10px;color:white">Show All Tags/Values&nbsp;<mat-checkbox #checkbox color="primary" style="color:white"></mat-checkbox></span>
          <!-- <div style="bottom:0; width:100%"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div> -->
        </nav>
        <div style="padding-top:10px; display:flex; align-items:center; overflow:auto; padding-top:5px; padding-bottom:5px;">
          <div class="fake-input" style="width:calc(100% - 581px); min-width:250px; height:29px; display:flex; align-items: center; border:2px solid rgb(95, 95, 140); background-color:rgb(201,201,218)">
            <img id="image" (click)="search(input); previous = input; input = '';" src="../assets/search.png" style="cursor:pointer;width:20px; height:auto; top:4.5px; left:10px;">
            <input *ngIf="previous === ''" style="padding-left:30px" [(ngModel)]="input" (keydown.enter)="searchEnter(checkbox.checked);" placeholder='Type in a word then click the magnifying glass icon or press the enter key to list the request records containing that word...'>
            <input *ngIf="previous !== ''" style="padding-left:30px" [(ngModel)]="input" (keydown.enter)="searchEnter(checkbox.checked);" placeholder='Previous Search: "{{previous}}"'>
          </div>&nbsp;
          <button (click)="openDialog()" class="regularButton"><span style="display:flex; align-items: center;"><img src="../assets/plus.png" style="width:15px; height:auto;">&nbsp;&nbsp;<b>Add Request</b></span></button> &nbsp;
          <button (click)="showChanges()" class="regularButton" ><span style="display:flex; align-items: center;"><img src="../assets/change.png" style="width:auto; height:15px;">&nbsp;&nbsp;<b>View Changes</b></span></button>&nbsp;
          <button (click)="saveChanges()" class="regularButton"><span style="display:flex; align-items: center;"><img src="../assets/save.png" style="width:15px; height:auto;">&nbsp;&nbsp;<b>Save Changes</b></span></button>&nbsp;
          <button (click)="download()" class="excelButton"><span  style="display:flex; align-items: center"><b>Download Table</b>&nbsp;&nbsp;<img src="../assets/excel.jfif" style="width:20px; height:auto;"></span></button>
        </div>
      </div>

      <div>
          <app-list class="content" [(actives)]="modifiedTagValues" [all]="checkbox.checked" [text]="previous" ></app-list>
      </div>
</div>




