/* You can add global styles to this file, and also import other style files */
.regularButton {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:11.5px;
  background-color: rgb(95, 95, 140);
  color: white;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgb(95, 95, 140);
  border-radius: 5px;
  padding-right:10px;
  padding-left:10px;
  padding-top:7px;
  padding-bottom:7px;
}

.excelButton {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:11.5px;
  background-color: #1D6F42;
  color: white;
  text-align: center;
  cursor: pointer;
  border: 2px solid #1D6F42;
  border-radius: 5px;
  padding-right:10px;
  padding-left:10px;
  padding-top:5px;
  padding-bottom:5px;
}

.dialog .mat-dialog-container{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  max-width: 800px;
  background: rgb(95,95,140);
  color: white;
}

.add-dialog .mat-dialog-container{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  max-width: 1000px;
  background: rgb(95,95,140);
  color: white;
}

.list-dialog .mat-dialog-container{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  max-width: 1400px;
  background: rgb(95,95,140);
  color: white;
}

.dialogButton {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:12px;
  background-color: white;
  color: rgb(95, 95, 140);
  text-align: center;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
}

.dialogButton:disabled {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:12px;
  background-color: grey;
  color: rgb(95, 95, 140);
  text-align: center;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 5px;
}

.fake-input { position: relative; }
.fake-input input { border:none; background-color:#fff; display:block; width:100%; box-sizing: border-box; background-color:rgb(201,201,218); }
.fake-input img { position: absolute; top: 2px; left: 5px }

.header {
  background: white;
}

.sticky {
  position: fixed;
  top: 0;
  left:7.5px;
  right:7.5px;
}

.accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.normal {
  border: 2px solid rgb(95, 95, 140);
}

.edited {
  background-color: lightyellow;
  border: 2px solid yellow;
  width:100%;
}

.deleted {
  background-color: lightcoral;
  border: 2px solid red;
}

.deleted-header {
  background-color: lightcoral;
}

.deleted-panel {
  background-color: lightcoral;
  border: 2px solid red;
  padding-bottom: 20px;
  width:100%;
}

.deleted-record-panel {
  background-color: lightcoral;
  border: 2px solid red;
  padding-bottom: 20px;
}

.padding-deleted {
  padding-bottom: 20px;
}

.deleted-tags-panel {
  background-color: lightcoral;
  border: 2px solid red;
  padding-bottom: 0px;
  width:100%;
}

.added {
  background-color: lightgreen;
  border: 2px solid green;
  width:100%;
}

.added-header {
  background-color: lightgreen;
}

.highlighted {
  background-color: rgb(95,95,140);
  color:white;
}





